/* block row + global block spans */
.td-block-row {
  .mx-row-and-span(td-block-span);
  margin-left: -24px;
  margin-right: -24px;
}


// all cases
.td-block-span1  {  width: 8.33333333%;   }
.td-block-span2  {  width: 16.66666667%;  }
.td-block-span3  {  width: 25%;           }
.td-block-span4  {  width: 33.33333333%;  } // td-1-col
.td-block-span5  {  width: 41.66666667%;  }
.td-block-span6  {  width: 50%;           }
.td-block-span7  {  width: 58.33333333%;  }
.td-block-span8  {  width: 66.66666667%;  } // td-2-col
.td-block-span9  {  width: 75%;           }
.td-block-span10 {  width: 83.33333333%;  }
.td-block-span11 {  width: 91.66666667%;  }
.td-block-span12 {  width: 100%;          } // td-3-col