/*  ----------------------------------------------------------------------------
    Module 13
*/
.td_module_13 {
  padding-bottom: 20px;
  border-bottom: 1px dashed #f2f2f2;
  margin-bottom: 30px;

  .entry-title {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 8px;

    /* responsive max portrait tablet */
    @media (max-width: @responsive_p_tablet_max) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  .td-module-meta-info {
    margin-bottom: 17px;
  }

  .td-module-thumb {
    margin-bottom: 22px;
  }

}
