/*  ----------------------------------------------------------------------------
    Module 2
*/
.td_module_2 {
  padding-bottom: 32px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    .entry-title {
      font-size: 17px;
      line-height: 22px;
    }
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .entry-thumb {
      width: 100%;
    }
  }
}