/*  ----------------------------------------------------------------------------
    Module 9
*/
.td_module_9 {
  padding-bottom: 25px;
  border-bottom: 1px dashed #f2f2f2;
  margin-bottom: 26px;
  text-align: center;

  .td-module-comments {
    top: auto;
    float: none;
    margin-bottom: 8px;
  }

  .entry-title {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .td-module-meta-info {
    margin-bottom: 0;
  }

  .td_quote_on_blocks {
    text-align: center;
  }

  .td-post-category {
    display: inline-block;
    margin: 0 0 8px 0;
  }
}