
<IfModule mod_rewrite.c>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /jackassgithub/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jackassgithub/index.php [L]
</IfModule>

# END WordPress

  # Attempt to load files from production if
  # they're not in our local version
  # RewriteCond %{REQUEST_FILENAME} !-d
  # RewriteCond %{REQUEST_FILENAME} !-f
  # RewriteRule wp-content/uploads/(.*) http://www.jackasstheology.com/wp-content/uploads/$1 [NC,L]
</IfModule>
