.td-system-status-table {
  margin-bottom: 35px;

  tr:nth-child(2n) td, table.wc_status_table tr:nth-child(2n) th {
    background: #fcfcfc;
  }

  th {
    padding: 10px 10px 10px 15px;
    font-weight: bold;
  }

  td {
    padding: 10px;
  }
}
//k,kkj;k;

.td-system-status-name {
  width: 200px;
  padding-left: 15px !important;

}

.td-system-status-help {
  width:20px;
}

.td-system-status-status {
  width:50px;
  text-align: center;
  font-size:11px !important;
}

.td-theme-update-log {
  color: #58AD58;
}

.td-system-status-led {
  width: 12px;
  height: 13px;
  display: inline-block;
  text-align: center;
  line-height: 13px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.td-system-status-green {
  background-color: #58AD58;
}

.td-system-status-yellow {
  background-color:#F2E132;
}

.td-system-status-red {
  background-color: #f2483a;
}

.td-system-status-info {
  background-color:silver;
  color:white;
  font-size:11px;
}

.td-status-small-text {
  font-size:12px;
  color:#707070;
  font-style:italic;
}

/* TD log panel + TD remote cache panel */
.td-log-header-msg,
.td-log-header-more-data,
.td-remote-header-value {
  min-width: 200px;
}
.td-log-header_file,
.td-log-header_function {
  //min-width: 150px;
}
.td-log-header-timestamp,
.td-remote-header-expires,
.td-remote-header-timestamp {
  width: 82px;
}
.td-log-more-data-container,
.td-remote-value-data-container,
.td_log_more_data_container {
  position: relative;
}
.td_log_more_data {
  max-width: 500px;
}

// array-object viewer window
.td-array-viewer {
  width: 450px;
  height: 300px;
  overflow: auto;
  position: absolute;
  left: 100px;
  top: -135px;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #000000;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: none;
}

.td-array-viewer-visible {
  display: block;
}

// view details button
.td-button-system-status-details,
.td-button-system-status {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 27px;
  margin: -7px 0;
  padding: 0 8px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #555;
  color: #fff;
  text-decoration: none;
}
.td-button-system-status-details:hover,
.td-button-system-status-details:focus,
.td-button-system-status:hover,
.td-button-system-status:focus,
.td-button-ss-pressed  {
  background: #58AD58;
  color: #fff;
}
.td-button-system-status {
  margin-left: 10px;
}

// system status debug area
.td-debug-area {
  display: none;
}
.td-debug-area-reveal {
  display: block;
}

.widefat.td-cache-reset-table,
.widefat.td-video-reset-table {
  width: auto;

  .td-remote-cache-reset,
  .td-video-cache-reset{
    margin: 0;
  }
}

.td-video-table {
  .td-remote-value-data-container {
    padding: 10px;
  }

  .td-array-viewer {
    width: auto;
    height: auto;
    left: 200px;
    top: -150px;
  }

  .td-video-id-container,
  .td-video-id-details {
    display: inline-block;
  }

  .td-video-id-container {
    min-width: 100px;
  }
}
