
// full width admin box
.td-admin-required-plugins {
  float: none;
  width: 100%;
  border-left:2px solid greenyellow;

  position: relative;
  .button {
    position: absolute;
    right:14px;
    top:19px;
  }
}

.td-admin-required-plugins-wrap {
  margin-right: 170px;
}

.td-admin-welcome-left {
  width: 600px;
}


// welcome header section
.td-welcome-version {
  display: inline;
  font-size:12px;
}

.about-wrap .notice.td-plugins-deactivated-notice {
  display: block !important;
}