// Font size 13
.td-mx-13 {
  // font-size
  .entry-title {
    font-size: 13px;
    line-height: 18px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      font-size: 12px !important;
      line-height: 15px !important;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }

  // category
  .td-post-category {
    margin-bottom: 11px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin-bottom: 9px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 10px;
    }
  }

  // date
  .td-module-meta-info {
    margin-top: 6px;
  }

  // meta container
  .td-meta-info-container {
    padding: 0 15px 15px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding: 0 13px 10px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding: 0 10px 11px;
    }
  }
}
.td-grid-style-2,
.td-grid-style-3,
.td-grid-style-7 {
  .td-mx-13 {
    .td-meta-info-container {
      padding: 0 !important;
    }

    .td-big-grid-meta,
    .td-module-meta-info {
      width: 100%;
    }

    .td-big-grid-meta {
      padding: 15px 15px 0;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 13px 13px 0;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 10px 10px 0;
      }
    }
    .td-module-meta-info {
      padding: 0 15px 15px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 0 13px 13px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 0 10px 10px;
      }
    }
  }
}
.td-grid-style-4 {
  .td-mx-13 {
    .entry-title {
      padding: 1px 5px 2px;
    }
    .td-meta-info-container {
      width: 100%;
    }
  }
}
.td-grid-style-5,
.td-grid-style-6 {
  .td-mx-13 {
    .td-meta-info-container {
      padding: 15px !important;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 13px !important;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 10px !important;
      }
    }
  }
}
.td-grid-style-7 {
  .td-mx-13 {
    &.td-big-grid-post .td-post-category {
      bottom: 13px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        bottom: 11px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        bottom: 8px;
      }
    }
  }
}


// Font size 15
.td-mx-15 {
  // font-size
  .entry-title {
    font-size: 15px;
    line-height: 20px;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }

  // category
  .td-post-category {
    margin-bottom: 10px;
  }

  // date
  .td-module-meta-info {
    margin-top: 6px;
  }

  // meta container
  .td-meta-info-container {
    padding: 0 10px 18px;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      padding-bottom: 11px;
    }
  }
}
.td-grid-style-2,
.td-grid-style-3,
.td-grid-style-7 {
  .td-mx-15 {
    .td-meta-info-container {
      padding: 0 !important;
    }

    .td-big-grid-meta,
    .td-module-meta-info {
      width: 100%;
    }

    .td-big-grid-meta {
      padding: 18px 10px 0;
      /* responsive portrait tablet + phone */
      @media (max-width: @responsive_p_tablet_max) {
        padding: 11px 11px 0;
      }
    }
    .td-module-meta-info {
      padding: 0 10px 18px;
      /* responsive portrait tablet + phone */
      @media (max-width: @responsive_p_tablet_max) {
        padding: 0 11px 11px;
      }
    }
  }
}
.td-grid-style-4 {
  .td-mx-15 {
    .entry-title {
      padding: 2px 6px 3px;
    }
    .td-meta-info-container {
      width: 100%;
    }
  }
}
.td-grid-style-5,
.td-grid-style-6 {
  .td-mx-15 {
    .td-meta-info-container {
      padding: 18px !important;
      /* responsive portrait tablet + phone */
      @media (max-width: @responsive_p_tablet_max) {
        padding: 11px !important;
      }
    }
  }
}
.td-grid-style-7 {
  .td-mx-15 {
    &.td-big-grid-post .td-post-category {
      bottom: 14px;
      /* responsive portrait tablet + phone */
      @media (max-width: @responsive_p_tablet_max) {
        bottom: 9px !important;
      }
    }
  }
}


// Font size 17
.td-mx-17 {
  // font-size
  .entry-title {
    font-size: 17px;
    line-height: 22px;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      font-size: 15px !important;
      line-height: 20px !important;
    }
  }

  // category
  .td-post-category {
    margin-bottom: 11px;
  }

  // date
  .td-module-meta-info {
    margin-top: 7px;
  }

  // meta container
  .td-meta-info-container {
    padding: 0 10px 18px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding: 0 14px 10px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding: 0 10px 11px;
    }
  }
}
.td-grid-style-1 {
  .td-mx-17 {
    .td-module-meta-info {
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        margin-bottom: 8px;
      }
    }
  }
}
.td-grid-style-2,
.td-grid-style-3,
.td-grid-style-7 {
  .td-mx-17 {
    .td-meta-info-container {
      padding: 0 !important;
    }

    .td-big-grid-meta,
    .td-module-meta-info {
      width: 100%;
    }

    .td-big-grid-meta {
      padding: 18px 10px 0;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 10px 14px 0;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 11px 10px 0;
      }
    }
    .td-module-meta-info {
      padding: 0 10px 18px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 0 14px 10px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 0 10px 11px;
      }
    }
  }
}
.td-grid-style-4 {
  .td-mx-17 {
    .entry-title {
      padding: 2px 6px 3px;
    }
    .td-meta-info-container {
      width: 100%;
    }
  }
}
.td-grid-style-5,
.td-grid-style-6 {
  .td-mx-17 {
    .td-meta-info-container {
      padding: 18px !important;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 10px !important;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 11px !important;
      }
    }
  }
}
.td-grid-style-7 {
  .td-mx-17 {
    &.td-big-grid-post .td-post-category {
      bottom: 16px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        bottom: 8px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        bottom: 9px;
      }
    }
  }
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .td-big-grid-scroll .td-mx-17 .td-big-grid-meta {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}


// Font size 19
.td-mx-19 {
  // font-size
  .entry-title {
    font-size: 19px;
    line-height: 24px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      font-size: 17px !important;
      line-height: 22px !important;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      font-size: 19px !important;
      line-height: 24px !important;
    }
  }

  // category
  .td-post-category {
    margin-bottom: 10px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 12px;
    }
  }

  // date
  .td-module-meta-info {
    margin-top: 8px;
  }

  // meta container
  .td-meta-info-container {
    padding: 0 20px 18px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding: 0 15px 10px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding: 0 13px 14px;
    }
  }
}
.td-grid-style-2,
.td-grid-style-3,
.td-grid-style-7 {
  .td-mx-19 {
    .td-meta-info-container {
      padding: 0 !important;
    }

    .td-big-grid-meta,
    .td-module-meta-info {
      width: 100%;
    }

    .td-big-grid-meta {
      padding: 20px 20px 0;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 15px 15px 0;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 13px 13px 0;
      }
    }
    .td-module-meta-info {
      padding: 0 20px 20px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 0 15px 15px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 0 13px 13px;
      }
    }
  }
}
.td-grid-style-4 {
  .td-mx-19 {
    .entry-title {
      padding: 2px 6px 3px;
    }
    .td-meta-info-container {
      width: 100%;
    }
  }
}
.td-grid-style-5,
.td-grid-style-6 {
  .td-mx-19 {
    .td-meta-info-container {
      padding: 20px !important;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 15px !important;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 13px !important;
      }
    }
  }
}
.td-grid-style-7 {
  .td-mx-19 {
    &.td-big-grid-post .td-post-category {
      bottom: 16px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        bottom: 12px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        bottom: 10px;
      }
    }
  }
}


// Font size 23
.td-mx-23 {
  // font-size
  .entry-title {
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      font-size: 19px !important;
      line-height: 24px !important;
    }
  }

  // category
  .td-post-category {
    margin-bottom: 14px;

    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      margin-bottom: 10px;
    }
  }

  // date
  .td-module-meta-info {
    margin-top: 8px;
  }

  // meta container
  .td-meta-info-container {
    padding: 0 8% 20px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding: 0 4% 20px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding: 0 15px 14px;
    }
  }
}
.td-grid-style-2,
.td-grid-style-3,
.td-grid-style-7 {
  .td-mx-23 {
    .td-meta-info-container {
      padding: 0 !important;
    }

    .td-big-grid-meta,
    .td-module-meta-info {
      width: 100%;
    }

    .td-big-grid-meta {
      padding: 20px 8% 0;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 20px 4% 0;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 15px 15px 0;
      }
    }
    .td-module-meta-info {
      padding: 0 8% 20px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 0 4% 20px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 0 15px 15px;
      }
    }
  }
}
.td-grid-style-4 {
  .td-mx-23 {
    .entry-title {
      padding: 2px 6px 4px;
    }
    .td-meta-info-container {
      width: auto;
      max-width: 80%;

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
.td-grid-style-5,
.td-grid-style-6 {
  .td-mx-23 {
    .td-meta-info-container {
      padding: 20px !important;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 20px !important;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 15px !important;
      }
    }
  }
}
.td-grid-style-7 {
  .td-mx-23 {
    &.td-big-grid-post .td-post-category {
      bottom: 16px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        bottom: 16px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        bottom: 12px;
      }
    }
  }
}


// Font size 28
.td-mx-28 {
  // font-size
  .entry-title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 500;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      font-size: 22px !important;
      line-height: 29px !important;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      font-size: 19px !important;
      line-height: 24px !important;
    }
  }

  // category
  .td-post-category {
    margin-bottom: 14px;
    /* phone + tablet */
    @media (max-width: @responsive_p_tablet_max) {
      margin-bottom: 11px;
    }
  }

  // date
  .td-module-meta-info {
    margin-top: 12px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-top: 7px;
    }
  }

  // meta container
  .td-meta-info-container {
    padding: 0 10px 28px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding: 0 14px 20px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding: 0 10px 14px;
    }
  }
}
.td-grid-style-2,
.td-grid-style-3,
.td-grid-style-7 {
  .td-mx-28 {
    .td-meta-info-container {
      padding: 0 !important;
    }

    .td-big-grid-meta,
    .td-module-meta-info {
      width: 100%;
    }

    .td-big-grid-meta {
      padding: 28px 10px 0;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 20px 14px 0;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 14px 10px 0;
      }
    }
    .td-module-meta-info {
      padding: 0 10px 28px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 0 14px 20px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 0 10px 14px;
      }
    }
  }
}
.td-grid-style-4 {
  .td-mx-28 {
    .entry-title {
      padding: 3px 8px 6px;
    }

    .td-meta-info-container {
      width: auto;
      max-width: 70%;

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
        max-width: none;
      }
    }
  }
}
.td-grid-style-5,
.td-grid-style-6 {
  .td-mx-28 {
    .td-meta-info-container {
      padding: 28px !important;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding: 20px !important;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 14px !important;
      }
    }
  }
}
.td-grid-style-7 {
  .td-mx-28 {
    &.td-big-grid-post .td-post-category {
      bottom: 24px;
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        bottom: 16px;
      }
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        bottom: 12px;
      }
    }
  }
}