/*  ----------------------------------------------------------------------------
    style the homepage loop metabox
*/
#td_homepage_loop_metabox,
#td_post_theme_settings_metabox,
#td_page_metabox {
  //border: 1px solid #D2D2D2;
  .inside {
    padding: 0;
    margin-top: 0;
  }
}

.td-meta-box-inside {
  padding: 10px 24px 10px 24px;
  border-top: 1px solid #e8e8e8;
}


// the metabox row - holds one setting
.td-meta-box-row {
  margin: 15px 0 15px 0;
  position: relative;
  padding-left: 141px;

}


.td-meta-box-row-separator {
  border-top: 1px solid #e9e9e9;
  margin:30px -24px 30px -24px;
  padding-top: 27px;
  padding-left: 24px;


  h3 {
    font-size:17px !important;
    font-weight: normal;
    padding: 0 !important;
  }
}

// page template settings
.td-page-option-panel {
  position: relative;

  .td-meta-box-row input[name*="[separator]"] {
    visibility: hidden;
  }
}
.td-disble-message {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;

  p {
    display: block;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 52px;
  }
}
.td-disable-settings .td-disble-message{
  display: block !important;
}
.td-hide-metabox {
  display: none !important;
}

// new custom post templates TDB
.td-post-option-general,
.td_panel_box_default_post_template_site_wide {
  .td-small-wrapper-o {
    max-width: 102px;
    .td_vso_caption {
      line-height: 12px;
      position: relative;
      top: 2px;
    }
  }
}
