.td-page-options-tab-wrap {
  background-color: #f7f7f7;
  padding: 24px 24px 0;
  position: relative;
}


/*  ----------------------------------------------------------------------------
    tabs
*/
.td-page-options-tab {
  display: inline-block;
  margin-bottom: -1px;
  border: 1px solid #f7f7f7;
  border-bottom-color: #e8e8e8;

  a {
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
  }
}


.td-page-options-tab-active {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-bottom-color: #fff;
}

/*  ----------------------------------------------------------------------------
    tab panels
*/
.td-page-option-panel {
  display: none;

}

.td-page-option-panel-active {
  display: block;
}