// footer
.td-mobile-footer-wrap {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;

  a {
    color: #fff;
  }
  > a {
    display: inline-block;
  }
  .block-title {
    margin: 0 0 26px 0;
  }
}
.td-footer-wrap {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer-email-wrap {
  padding-top: 16px;

  a {
    color: @td_theme_color;
  }
}
// footer social icons
.td-social-icon-wrap {
  display: inline-block;
  margin: 5px;

  .td-icon-font {
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.03);
  }
}
// sub-footer
.td-mobile-sub-footer-wrap {
  color: #ccc;
  background-color: #000;
  text-align: center;
  padding: 18px 0;
}
.td-sub-footer-menu {

  ul {
    margin-top: 0;
  }

  .sub-menu {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 12px;
  }

  a {
    color: #ccc;
    margin: 0 8px;
  }

  &:last-child a {
    margin-right: 0;
  }
}



