/*  ----------------------------------------------------------------------------
    wordpress default galleries
*/

.gallery img {
  border: none !important;
}

/*  ----------------------------------------------------------------------------
    caption
*/

.gallery-item {

  img {
    margin-bottom: 0;
  }

  .gallery-caption  {
    text-align: center;
    margin-bottom: 10px;
  }
}

