@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  /*  ----------------------------------------------------------------------------
      main sprite file
  */
  .td-sp {
    background-image: url('../images/sprite/elements@2x.png') !important;
    background-size: 90px 2100px !important;
  }
}



/*  ----------------------------------------------------------------------------
    sprite
*/
.td-sp {
  background-image: url('../images/sprite/elements.png');
  background-repeat: no-repeat;
  display: block;
}

// video playlist
.td-sp-video-play {
  width: 42px;
  height: 42px;
  background-position: -20px -488px;
}

.td-sp-video-pause {
  width: 42px;
  height: 42px;
  background-position: -20px -612px;
}