/*  ----------------------------------------------------------------------------
    General smart list style
*/

// pagination
.td-smart-list-pagination {
  text-align: center;

}

.td-smart-list-button {
  line-height: 40px;
  background-color: #222;
  color: #fff;
  padding: 13px 24px 15px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;

  .td-icon-left {
    font-size: 14px;
    position: relative;
    top: 1px;
    padding-right: 11px;
  }
  .td-icon-right {
    font-size: 14px;
    position: relative;
    top: 1px;
    padding-left: 11px;
  }
}

/*  ----------------------------------------------------------------------------
    Smart list 1
*/
.tdm_smart_list_1 {
  margin: 20px 0;
  position: relative;
  z-index: 1;
  clear: both;

  // title
  .td-sml-top-tile {
    margin-bottom: 10px;
    text-align: center;
  }

  // ad
  .td-a-rec-id-smart_list_7 {
    margin-bottom: 0;
  }

  // image
  .td-slide-smart-list-figure img {
    width: 100%;
  }

  .td-sml-description {
    margin-top: 0;
  }

  .td-slide-smart-list-figure {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .td-sml-caption {
    text-align: left;
  }

  h2 {
    margin: 0;
    line-height: 1;
    padding: 0;
    min-height: 0;
  }

  .td-sml-current-item-title {
    margin-top: 10px;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
    font-size: 26px;
  }

  .td-item {
    .td-smart-list-pagination {
      position: relative;
      display: inline-block;
    }
  }

  // pagination
  .td-smart-list-pagination {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    margin: 10px 0;

    .td-smart-list-button {
      margin: 0;
      line-height: 1;
    }

    .td-smart-back {
      float: left;
    }
    .td-smart-next {
      float: right;
    }
  }
}
.td-smart-disable {
  opacity: 0.5;
}
