/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
/* Sport Demo */
.td-sport-stack .td-header-style-6 .td-header-top-menu-full {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.td-sport-stack #td-theme-settings .td-skin-buy a {
  background-color: #2E7D32;
}
.td-sport-custom-title .td_video_playlist_title .td_video_title_text {
  line-height: 20px;
  margin-left: 0;
  font-size: 30px;
}
