.td_animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.td_animated_long {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.td_animated_xlong {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.td_animated_xxlong {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



/*  ----------------------------------------------------------------------------
    td_fadeInRight
*/

@-webkit-keyframes td_fadeInRight {
  0% {
    opacity: 0.05;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes td_fadeInRight {
  0% {
    opacity: 0.05;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.td_fadeInRight {
  -webkit-animation-name: td_fadeInRight;
  animation-name: td_fadeInRight;


}




/*  ----------------------------------------------------------------------------
    td_fadeInLeft
*/

@-webkit-keyframes td_fadeInLeft {
  0% {
    opacity: 0.05;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes td_fadeInLeft {
  0% {
    opacity: 0.05;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.td_fadeInLeft {
  -webkit-animation-name: td_fadeInLeft;
  animation-name: td_fadeInLeft;
}


/*  ----------------------------------------------------------------------------
    td_fadeInDown
*/

@-webkit-keyframes td_fadeInDown {
  0% {
    opacity: 0.05;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes td_fadeInDown {
  0% {
    opacity: 0.05;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.td_fadeInDown {
  -webkit-animation-name: td_fadeInDown;
  animation-name: td_fadeInDown;
}





/*  ----------------------------------------------------------------------------
    td_fadeInUp
*/

@-webkit-keyframes td_fadeInUp {
  0% {
    opacity: 0.05;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes td_fadeInUp {
  0% {
    opacity: 0.05;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.td_fadeInUp {
  -webkit-animation-name: td_fadeInUp;
  animation-name: td_fadeInUp;
}



/*  ----------------------------------------------------------------------------
    td_fadein
*/

@-webkit-keyframes td_fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes td_fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.td_fadeIn {
  -webkit-animation-name: td_fadeIn;
  animation-name: td_fadeIn;
}






/*  ----------------------------------------------------------------------------
    fade out
*/
@-webkit-keyframes td_fadeOut_to_1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes td_fadeOut_to_1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

.td_fadeOut_to_1 {
  -webkit-animation-name: td_fadeOut_to_1;
  animation-name: td_fadeOut_to_1;
}




/*  ----------------------------------------------------------------------------
    td_fadeOutRight
*/
@-webkit-keyframes td_fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

@keyframes td_fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

.td_fadeOutRight {
  -webkit-animation-name: td_fadeOutRight;
  animation-name: td_fadeOutRight;
}


/*  ----------------------------------------------------------------------------
    td_fadeOutLeft
*/
@-webkit-keyframes td_fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes td_fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

.td_fadeOutLeft {
  -webkit-animation-name: td_fadeOutLeft;
  animation-name: td_fadeOutLeft;
}
