//* CLASSIC SHARING *//
.td-post-sharing-classic {
  position: relative;
  height: 20px;
}


//* CUSTOM SHARING *//
.td-post-sharing {
  margin-left: -3px;
  margin-right: -3px;
  font-family: @font1;
  text-align: left;
  z-index: 2;

  white-space: nowrap; // fix to stay on 1 row when resize
  &.td-social-show-all {
    white-space: normal;
  }
  opacity: 0;
}

.td-js-loaded {
  .td-post-sharing {
    .transition(opacity 0.3s);
    opacity: 1;
  }
}
.td-post-sharing-classic + .td-post-sharing {
  margin-top: 15px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-top: 8px;
  }
}

.td-post-sharing-top {
  margin-bottom: 30px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-bottom: 20px;
  }
}

.td-post-sharing-bottom {
  border-style: solid;
  border-color: @td_grid_border_color;
  border-width: 1px 0;
  padding: 21px 0;
  margin-bottom: 42px;

  .td-post-sharing {
    margin-bottom: -7px;
  }
}

.td-post-sharing-visible,
.td-social-sharing-hidden {
  display: inline-block;
}

// show all social icons
.td-social-show-all {
  .td-pulldown-filter-list {
    display: inline-block;
  }
}


// buttons
.td-social-network,
.td-social-handler {
  position: relative;
  display: inline-block;
  margin: 0 3px 7px;
  height: 40px;
  min-width: 40px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}
&.td-ps-notext {
  .td-social-network,
  .td-social-handler {
    .td-social-but-icon {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.td-social-network {
  color: #000;
  overflow: hidden;

  .td-social-but-icon {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .td-social-but-text {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:hover {
    opacity: 0.8 !important;
  }
}

.td-social-handler {
  color: #444;
  border: 1px solid #e9e9e9;
  border-radius: 2px;

  .td-social-but-text {
    font-weight: 700;

    &:before {
      background-color: #000;
      .opacity(0.08);
    }
  }
}
.td-social-share-text {
  margin-right: 18px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    .transform(translateY(-50%));
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    border-width: 9px 0 9px 11px;
    border-color: transparent transparent transparent #e9e9e9;
  }
  &:after {
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #fff;
  }
}

.td-social-but-text,
.td-social-but-icon {
  display: inline-block;
  position: relative;
}

.td-social-but-icon {
  padding-left: 13px;
  padding-right: 13px;
  line-height: 40px;
  z-index: 1;

  i {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
}

.td-social-but-text {
  margin-left: -6px;
  padding-left: 12px;
  padding-right: 17px;
  line-height: 40px;

  &:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 1px;
    height: 16px;
    background-color: #fff;
    .opacity(0.2);
    z-index: 1;
  }
}

// font-size for facebook, reddit, linkedin, tumblr, stumbleupon, vk, viber
.td-social-handler,
.td-social-facebook,
.td-social-reddit,
.td-social-linkedin,
.td-social-tumblr,
.td-social-stumbleupon,
.td-social-vk,
.td-social-viber {
  i {
    font-size: 14px;
  }
}
// font-size for google, telegram
.td-social-googleplus,
.td-social-telegram {
  i {
    font-size: 16px;
  }
}
// font-size for mail, line, print
.td-social-mail,
.td-social-line,
.td-social-print {
  i {
    font-size: 15px;
  }
}

// handler
.td-social-handler {
  .td-icon-share {
    top: -1px;
    left: -1px;
  }
}
// twitter
.td-social-twitter {
  .td-icon-twitter {
    font-size: 12px;
  }
}
// google
.td-social-googleplus {
  .td-social-but-icon {
    padding-right: 12px;
  }

  .td-icon-googleplus {
    left: -1px;
  }
}
// pinterest
.td-social-pinterest {
  .td-icon-pinterest {
    font-size: 13px;
  }
}
// whatsapp
.td-social-whatsapp {
  .td-icon-whatsapp {
    font-size: 18px;
  }
}
// reddit
.td-social-reddit {
  .td-social-but-icon {
    padding-right: 12px;
  }

  .td-icon-reddit {
    left: -1px;
  }
}
// telegram
.td-social-telegram {
  .td-social-but-icon {
    padding-right: 12px;
  }

  .td-icon-telegram {
    left: -1px;
  }
}
// stumbleupon
.td-social-stumbleupon {
  .td-social-but-icon {
    padding-right: 11px;
  }

  .td-icon-stumbleupon {
    left: -2px;
  }
}
// digg
.td-social-digg {
  .td-social-but-icon {
    padding-right: 11px;
  }

  .td-icon-digg {
    left: -2px;
    font-size: 17px;
  }
}
// vk
.td-social-vk {
  .td-social-but-icon {
    padding-right: 11px;
  }

  .td-icon-vk {
    left: -2px;
  }
}
// expand tabs
.td-social-expand-tabs {
  i {
    top: -2px;
    left: -1px;
    font-size: 16px;
  }
}

// hide whatsapp, line, viber on tablet & desktop
/* responsive portrait phone */
@media (min-width: @responsive_p_phone_max) {
  .td-social-whatsapp,
  .td-social-line,
  .td-social-viber {
    display: none;
  }
}


//-- INDIVIDUAL SOCIAL BG COLOR
.td-ps-bg {
  .td-social-network {
    color: #fff;
  }

  .td-social-facebook {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #516eab;
    }
  }
  .td-social-twitter {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #29c5f6;
    }
  }
  .td-social-googleplus {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #eb4026;
    }
  }
  .td-social-pinterest {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #ca212a;
    }
  }
  .td-social-whatsapp {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #7bbf6a;
    }
  }
  .td-social-reddit {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #f54200;
    }
  }
  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #000;
    }
  }
  .td-social-print {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #333;
    }
  }
  .td-social-linkedin {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #0266a0;
    }
  }
  .td-social-tumblr {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #3e5a70;
    }
  }
  .td-social-telegram {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #179cde;
    }
  }
  .td-social-stumbleupon {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #ee4813;
    }
  }
  .td-social-vk {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #4c75a3;
    }
  }
  .td-social-line {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #00b900;
    }
  }
  .td-social-viber {
    .td-social-but-icon,
    .td-social-but-text {
      background-color: #5d54a4;
    }
  }
}


//-- DARK BG
.td-ps-dark-bg {
  .td-social-network {
    color: #fff;

    .td-social-but-icon,
    .td-social-but-text {
      background-color: #000;
    }
  }
}


//-- BORDER
.td-ps-border {
  .td-social-network {
    .td-social-but-icon,
    .td-social-but-text {
      line-height: 38px;
      border-width: 1px;
      border-style: solid;
    }

    .td-social-but-text {
      border-left-width: 0;

      &:before {
        background-color: #000;
        .opacity(0.08);
      }
    }
  }

  &.td-ps-padding {
    .td-social-network {
      .td-social-but-icon {
        border-right-width: 0;
      }
      &.td-social-expand-tabs {
        .td-social-but-icon {
          border-right-width: 1px;
        }
      }
    }
  }
}


//-- GREY BORDER COLOR
.td-ps-border-grey {
  .td-social-but-icon,
  .td-social-but-text {
    border-color: #e9e9e9;
  }
}


//-- INDIVIDUAL SOCIAL BORDER COLOR
.td-ps-border-colored {
  .td-social-facebook {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #516eab;
    }
  }
  .td-social-twitter {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #29c5f6;
    }
  }
  .td-social-googleplus {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #eb4026;
    }
  }
  .td-social-pinterest {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #ca212a;
    }
  }
  .td-social-whatsapp {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #7bbf6a;
    }
  }
  .td-social-reddit {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #f54200;
    }
  }
  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #000;
    }
  }
  .td-social-print {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #333;
    }
  }
  .td-social-linkedin {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #0266a0;
    }
  }
  .td-social-tumblr {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #3e5a70;
    }
  }
  .td-social-telegram {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #179cde;
    }
  }
  .td-social-stumbleupon {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #ee4813;
    }
  }
  .td-social-vk {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #4c75a3;
    }
  }
  .td-social-line {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #00b900;
    }
  }
  .td-social-viber {
    .td-social-but-icon,
    .td-social-but-text {
      border-color: #5d54a4;
    }
  }
}


//-- INDIVIDUAL SOCIAL ICON BG COLOR
.td-ps-icon-bg {
  .td-social-but-icon {
    height: 100%;
    border-color: transparent !important;
  }
  .td-social-network .td-social-but-icon {
    color: #fff;
  }

  .td-social-facebook {
    .td-social-but-icon {
      background-color: #516eab;
    }
  }
  .td-social-twitter {
    .td-social-but-icon {
      background-color: #29c5f6 ;
    }
  }
  .td-social-googleplus {
    .td-social-but-icon {
      background-color: #eb4026;
    }
  }
  .td-social-pinterest {
    .td-social-but-icon {
      background-color: #ca212a;
    }
  }
  .td-social-whatsapp {
    .td-social-but-icon {
      background-color: #7bbf6a;
    }
  }
  .td-social-reddit {
    .td-social-but-icon {
      background-color: #f54200;
    }
  }
  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon {
      background-color: #000;
    }
  }
  .td-social-print {
    .td-social-but-icon {
      background-color: #333;
    }
  }
  .td-social-linkedin {
    .td-social-but-icon {
      background-color: #0266a0;
    }
  }
  .td-social-tumblr {
    .td-social-but-icon {
      background-color: #3e5a70;
    }
  }
  .td-social-telegram {
    .td-social-but-icon {
      background-color: #179cde;
    }
  }
  .td-social-stumbleupon {
    .td-social-but-icon {
      background-color: #ee4813;
    }
  }
  .td-social-vk {
    .td-social-but-icon {
      background-color: #4c75a3;
    }
  }
  .td-social-line {
    .td-social-but-icon {
      background-color: #00b900;
    }
  }
  .td-social-viber {
    .td-social-but-icon {
      background-color: #5d54a4;
    }
  }

  .td-social-but-text {
    margin-left: -3px;
  }
  .td-social-network .td-social-but-text:before {
    display: none;
  }
}


//-- INDIVIDUAL SOCIAL ICON ARROW COLOR
.td-ps-icon-arrow {
  .td-social-network {
    .td-social-but-icon {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        .transform(translateY(-50%));
        left: calc(~'100% + 1px');
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 9px 11px;
        border-color: transparent transparent transparent #000;
      }
    }

    .td-social-but-text {
      padding-left: 20px;

      &:before {
        display: none;
      }
    }
  }
  &.td-ps-padding .td-social-network .td-social-but-icon:after {
    left: 100%;
  }

  .td-social-facebook {
    .td-social-but-icon:after {
      border-left-color: #516eab;
    }
  }
  .td-social-twitter {
    .td-social-but-icon:after {
      border-left-color: #29c5f6 ;
    }
  }
  .td-social-googleplus {
    .td-social-but-icon:after {
      border-left-color: #eb4026;
    }
  }
  .td-social-pinterest {
    .td-social-but-icon:after {
      border-left-color: #ca212a;
    }
  }
  .td-social-whatsapp {
    .td-social-but-icon:after {
      border-left-color: #7bbf6a;
    }
  }
  .td-social-reddit {
    .td-social-but-icon:after {
      border-left-color: #f54200;
    }
  }
  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon:after {
      border-left-color: #000;
    }
  }
  .td-social-print {
    .td-social-but-icon:after {
      border-left-color: #333;
    }
  }
  .td-social-linkedin {
    .td-social-but-icon:after {
      border-left-color: #0266a0;
    }
  }
  .td-social-tumblr {
    .td-social-but-icon:after {
      border-left-color: #3e5a70;
    }
  }
  .td-social-telegram {
    .td-social-but-icon:after {
      border-left-color: #179cde;
    }
  }
  .td-social-stumbleupon {
    .td-social-but-icon:after {
      border-left-color: #ee4813;
    }
  }
  .td-social-vk {
    .td-social-but-icon:after {
      border-left-color: #4c75a3;
    }
  }
  .td-social-line {
    .td-social-but-icon:after {
      border-left-color: #00b900;
    }
  }
  .td-social-viber {
    .td-social-but-icon:after {
      border-left-color: #5d54a4;
    }
  }
  .td-social-expand-tabs {
    .td-social-but-icon:after {
      display: none;
    }
  }
}


//-- INDIVIDUAL SOCIAL ICON COLOR
.td-ps-icon-color {
  .td-social-facebook {
    .td-social-but-icon {
      color: #516eab;
    }
  }
  .td-social-twitter {
    .td-social-but-icon {
      color: #29c5f6 ;
    }
  }
  .td-social-googleplus {
    .td-social-but-icon {
      color: #eb4026;
    }
  }
  .td-social-pinterest {
    .td-social-but-icon {
      color: #ca212a;
    }
  }
  .td-social-whatsapp {
    .td-social-but-icon {
      color: #7bbf6a;
    }
  }
  .td-social-reddit {
    .td-social-but-icon {
      color: #f54200;
    }
  }
  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon {
      color: #000;
    }
  }
  .td-social-print {
    .td-social-but-icon {
      color: #333;
    }
  }
  .td-social-linkedin {
    .td-social-but-icon {
      color: #0266a0;
    }
  }
  .td-social-tumblr {
    .td-social-but-icon {
      color: #3e5a70;
    }
  }
  .td-social-telegram {
    .td-social-but-icon {
      color: #179cde;
    }
  }
  .td-social-stumbleupon {
    .td-social-but-icon {
      color: #ee4813;
    }
  }
  .td-social-vk {
    .td-social-but-icon {
      color: #4c75a3;
    }
  }
  .td-social-line {
    .td-social-but-icon {
      color: #00b900;
    }
  }
  .td-social-viber {
    .td-social-but-icon {
      color: #5d54a4;
    }
  }
}


//-- INDIVIDUAL SOCIAL TEXT COLOR
.td-ps-text-color {
  .td-social-but-text {
    font-weight: 700;
  }
  .td-social-facebook {
    .td-social-but-text {
      color: #516eab;
    }
  }
  .td-social-twitter {
    .td-social-but-text {
      color: #29c5f6 ;
    }
  }
  .td-social-googleplus {
    .td-social-but-text {
      color: #eb4026;
    }
  }
  .td-social-pinterest {
    .td-social-but-text {
      color: #ca212a;
    }
  }
  .td-social-whatsapp {
    .td-social-but-text {
      color: #7bbf6a;
    }
  }
  .td-social-reddit {
    .td-social-but-text {
      color: #f54200;
    }
  }
  .td-social-mail,
  .td-social-digg {
    .td-social-but-text {
      color: #000;
    }
  }
  .td-social-print {
    .td-social-but-text {
      color: #333;
    }
  }
  .td-social-linkedin {
    .td-social-but-text {
      color: #0266a0;
    }
  }
  .td-social-tumblr {
    .td-social-but-text {
      color: #3e5a70;
    }
  }
  .td-social-telegram {
    .td-social-but-text {
      color: #179cde;
    }
  }
  .td-social-stumbleupon {
    .td-social-but-text {
      color: #ee4813;
    }
  }
  .td-social-vk {
    .td-social-but-text {
      color: #4c75a3;
    }
  }
  .td-social-line {
    .td-social-but-text {
      color: #00b900;
    }
  }
  .td-social-viber {
    .td-social-but-text {
      color: #5d54a4;
    }
  }
  .td-social-expand-tabs {
    .td-social-but-text {
      color: #b1b1b1;
    }
  }
}


//-- NO TEXT
.td-ps-notext {
  .td-social-but-icon {
    width: 40px;
  }

  .td-social-network .td-social-but-text {
    display: none;
  }
}


//-- PADDING
.td-ps-padding {
  .td-social-network {
    .td-social-but-icon {
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  .td-social-handler {
    .td-social-but-icon {
      width: 40px;
    }
  }

  .td-social-reddit,
  .td-social-telegram {
    .td-social-but-icon {
      padding-right: 16px;
    }
  }
  .td-social-stumbleupon,
  .td-social-digg,
  .td-social-expand-tabs {
    .td-social-but-icon {
      padding-right: 13px;
    }
  }

  .td-social-googleplus {
    .td-social-but-icon {
      padding-right: 15px;
    }
  }
  .td-social-vk {
    .td-social-but-icon {
      padding-right: 14px;
    }
  }
  .td-social-expand-tabs {
    .td-social-but-icon {
      padding-left: 13px;
    }
  }
}


//-- ROUNDED
.td-ps-rounded {
  .td-social-network {
    .td-social-but-icon {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }

    .td-social-but-text {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
  }
  &.td-ps-notext {
    .td-social-network {
      .td-social-but-icon {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
    }
  }

  .td-social-expand-tabs {
    border-radius: 100px;
  }
}


//-- DARKER BOTTOM BAR
.td-ps-bar {
  .td-social-network {
    .td-social-but-icon,
    .td-social-but-text {
      .box-shadow(inset 0px -3px 0px 0px rgba(0, 0, 0, 0.31));
    }
  }

  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon,
    .td-social-but-text {
      .box-shadow(inset 0px -3px 0px 0px rgba(255, 255, 255, 0.28));
    }
  }

  .td-social-print {
    .td-social-but-icon,
    .td-social-but-text {
      .box-shadow(inset 0px -3px 0px 0px rgba(255, 255, 255, 0.2));
    }
  }
}


//-- BIG
.td-ps-big {
  .td-social-but-icon {
    display: block;
    line-height: 60px;

    .td-icon-share {
      width: auto;
    }
  }

  .td-social-handler {
    .td-social-but-text {
      &:before {
        display: none;
      }
    }
  }

  .td-social-share-text {
    .td-social-but-icon {
      width: 90px;
    }
  }

  .td-social-expand-tabs {
    .td-social-but-icon {
      width: 60px;
    }
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .td-social-share-text {
      display: none;
    }
  }

  .td-social-facebook,
  .td-social-reddit,
  .td-social-mail,
  .td-social-linkedin,
  .td-social-tumblr,
  .td-social-stumbleupon {
    i {
      margin-top: -2px;
    }
  }

  // font-size for facebook, reddit, linkedin, tumblr, stumbleupon, vk, viber
  .td-social-facebook,
  .td-social-reddit,
  .td-social-linkedin,
  .td-social-tumblr,
  .td-social-stumbleupon,
  .td-social-vk,
  .td-social-viber,
  .td-social-share-text {
    i {
      font-size: 22px;
    }
  }
  // font-size for googleplus, telegram
  .td-social-googleplus,
  .td-social-telegram {
    i {
      font-size: 24px;
    }
  }
  // font-size for mail, line
  .td-social-mail,
  .td-social-line,
  .td-social-print {
    i {
      font-size: 23px;
    }
  }
  .td-social-twitter,
  .td-social-expand-tabs {
    i {
      font-size: 20px;
    }
  }

  .td-social-googleplus {
    .td-icon-googleplus {
      left: 0;
    }
  }
  .td-social-pinterest {
    .td-icon-pinterest {
      font-size: 21px;
    }
  }
  .td-social-whatsapp {
    .td-icon-whatsapp {
      font-size: 26px;
    }
  }
  .td-social-telegram {
    .td-icon-telegram {
      left: 1px;
    }
  }
  .td-social-stumbleupon {
    .td-icon-stumbleupon {
      left: -2px;
    }
  }
  .td-social-digg {
    .td-icon-digg {
      left: -1px;
      font-size: 25px;
    }
  }
  .td-social-vk {
    .td-icon-vk {
      left: -1px;
    }
  }

  .td-social-but-text {
    margin-left: 0;
    padding-top: 0;
    padding-left: 17px;
  }

  &.td-ps-notext {
    .td-social-network,
    .td-social-handler {
      height: 60px;
    }

    .td-social-network {
      width: 60px;

      .td-social-but-icon {
        width: 60px;
      }
    }
    .td-social-share-text {
      .td-social-but-icon {
        line-height: 40px;
      }
      .td-social-but-text {
        display: block;
        line-height: 1;
      }
    }
  }
  &.td-ps-padding {
    .td-social-network,
    .td-social-handler {
      height: 90px;
      font-size: 13px;
    }
    .td-social-network {
      min-width: 60px;
    }

    .td-social-but-icon {
      border-bottom-left-radius: 0;
      border-top-right-radius: 2px;
    }
    &.td-ps-bar .td-social-but-icon {
      .box-shadow(none);
    }

    .td-social-but-text {
      display: block;
      padding-bottom: 17px;
      line-height: 1;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 2px;

      &:before {
        display: none;
      }
    }

    .td-social-expand-tabs {
      i {
        line-height: 90px;
      }
    }
  }
}


//-- NO GAP BETWEEN ITEMS
.td-ps-nogap {
  margin-left: 0;
  margin-right: 0;

  .td-social-network,
  .td-social-handler {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .td-social-network {
    .td-social-but-icon,
    .td-social-but-text {
      border-radius: 0;
    }
  }

  .td-social-expand-tabs {
    border-radius: 0;
  }
}


.td-post-sharing-style7 {
  .td-social-network {
    .td-social-but-icon {
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.31);
      }
    }

    .td-social-but-text {
      padding-left: 17px;

      &:before {
        display: none;
      }
    }
  }

  .td-social-mail,
  .td-social-digg {
    .td-social-but-icon:before {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .td-social-print {
    .td-social-but-icon:before {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

// hide text share on mobile
.td-post-sharing-style1,
.td-post-sharing-style3,
.td-post-sharing-style5,
.td-post-sharing-style14,
.td-post-sharing-style16 {
  .td-social-share-text .td-social-but-text {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
        display: none !important;
    }
  }
}
.td-post-sharing-style2,
.td-post-sharing-style4,
.td-post-sharing-style6,
.td-post-sharing-style7,
.td-post-sharing-style15,
.td-post-sharing-style17,
.td-post-sharing-style18,
.td-post-sharing-style19,
.td-post-sharing-style20 {
  .td-social-share-text {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none !important;
    }
  }
}