@media print {

  html,body {
    background-color:#FFF;
    color:#000;
    margin: 0;
    padding: 0;
  }

  body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    zoom: 80%;
  }

  body .td-post-featured-image img {
    width: 100% !important;
  }
  .td-post-template-1 .td-featured-image-rec {
    width: 40%;
  }

  .td-post-template-6 #td-full-screen-header-image {
    position: relative !important;
  }
  .td-post-template-6 .td-post-header {
    height: auto !important;
  }
  .td-post-template-6 .td-post-header-holder {
    position: relative !important;
  }
  .td-post-template-6 .td-backstretch,
  .td-post-template-7 .td-backstretch {
    left: auto !important;
    right: auto !important;
    transform: none !important;
    width: auto !important;
    height: auto !important;
  }
  .td-post-template-7 .td-parallax-header {
    left: auto !important;
    right: auto !important;
    transform: none !important;
  }
  .td-post-template-8 .td-post-header {
    height: auto;
  }

  img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  h1,h2,h3,h4,h5,h6 {
    page-break-after: avoid;
  }

  ul, ol, li {
    page-break-inside: avoid;
  }

  table,tr,td {
    page-break-before: avoid;
  }

  .single-post {
    .td-header-wrap,
    .td-main-sidebar,
    #td-theme-settings,
    .td-header-top-menu,
    .td-header-menu-wrap,
    .td-header-sp-ads,
    .td-main-sidebar,
    .td-post-source-tags,
    .td-post-sharing,
    .td-post-next-prev,
    .td_block_related_posts,
    #comments,
    .td-footer-container,
    .td-footer-wrapper,
    .td-sub-footer-container,
    .td-category,
    .td-post-views,
    .td-post-comments,
    .td-scroll-up,
    iframe,
    .td-more-articles-box,
    .td_block_video_playlist,
    .td-crumb-container,
    .td-g-rec,
    .td-a-rec,
    .td-menu-background,
    .author-box-wrap .avatar {
      display: none !important;
    }
  }

  .backstretch {
    display: none;
  }

  .td-main-content,
  header {
    width: 100% !important;
  }
}