@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  /*  ----------------------------------------------------------------------------
      main sprite file
  */
  .td-sp {
    background-image: url('@{td_css_path}images/sprite/elements@2x.png') !important;
    background-size: 90px 2100px !important;
  }
}



/*  ----------------------------------------------------------------------------
    sprite
*/
.td-sp {
  background-image: url('@{td_css_path}images/sprite/elements.png');
  background-repeat: no-repeat;
  display: block;
}

// video playlist
.td-sp-video-play {
  width: 42px;
  height: 42px;
  background-position: -20px -488px;
}

.td-sp-video-pause {
  width: 42px;
  height: 42px;
  background-position: -20px -612px;
}


// social counter plugin
.td-sp-facebook {
  width: 32px;
  height: 32px;
  background-position: -20px -20px;
}
.td-sp-pinterest {
  width: 32px;
  height: 32px;
  background-position: -20px -72px;
}
.td-sp-rss {
  width: 32px;
  height: 32px;
  background-position: -20px -124px;
}
.td-sp-soundcloud {
  width: 32px;
  height: 32px;
  background-position: -20px -176px;
}
.td-sp-instagram {
  width: 32px;
  height: 32px;
  background-position: -20px -228px;
}
.td-sp-googleplus {
  width: 32px;
  height: 32px;
  background-position: -20px -280px;
}
.td-sp-vimeo {
  width: 32px;
  height: 32px;
  background-position: -20px -332px;
}
.td-sp-youtube {
  width: 32px;
  height: 32px;
  background-position: -20px -384px;
}
.td-sp-twitter {
  width: 32px;
  height: 32px;
  background-position: -20px -436px;
}