

.td-scroll-e-text-1-wrap {



  padding: 20px 20px 20px 20px;
  margin: -20px -20px 4px -20px;


  p {
    margin-bottom: 0px;
  }

  blockquote {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  h3 {
    margin-top: 12px;
  }

}








.td-scroll-e-text-2-wrap {

  border:2px solid red;

  padding: 10px;
  margin: -10px -10px 14px -10px;


  p {
    margin-bottom: 0px;
  }

  blockquote {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  h3 {
    margin-top: 12px;
  }

}





/* image: zoom in */
.td-scroll-e-image-zoom-in-wrap {
  position:relative;
  overflow:hidden;



  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    display: block;
    z-index: 999;
    box-shadow:         inset 0 0 10px #000000;
    background-color: transparent;
  }


}


/* image: zoom out */
.td-scroll-e-image-zoom-out-wrap {
  position:relative;
  overflow:hidden;



  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    display: block;
    z-index: 999;
    box-shadow:         inset 0 0 10px #000000;
    background-color: transparent;
  }


}


/* image: fixed */
.td-scroll-e-image-fixed-wrap {
  position:relative;
  overflow:hidden;


}