/*  ----------------------------------------------------------------------------
    pagebuilder
*/
.vc_modal-content, // for old VC version < 4.7
.vc_ui-panel-content-container { // for VC 4.7
  #td_block_1,
  #td_block_2,
  #td_block_3,
  #td_block_4,
  #td_block_5,
  #td_block_6,
  #td_block_7,
  #td_block_8,
  #td_block_9,
  #td_block_10,
  #td_block_11,
  #td_block_12,
  #td_block_13,
  #td_block_14,
  #td_block_15,
  #td_block_16,
  #td_block_17,
  #td_block_18,
  #td_block_19,
  #td_block_20,
  #td_block_21,
  #td_block_22,
  #td_block_23,
  #td_block_24,
  #td_block_25,
  #td_block_big_grid,
  #td_block_big_grid_1,
  #td_block_big_grid_2,
  #td_block_big_grid_3,
  #td_block_big_grid_4,
  #td_block_big_grid_5,
  #td_block_big_grid_6,
  #td_block_big_grid_7,
  #td_block_big_grid_8,
  #td_block_big_grid_9,
  #td_block_big_grid_10,
  #td_block_big_grid_11,
  #td_block_big_grid_12,
  #td_block_big_grid_fl_1,
  #td_block_big_grid_fl_2,
  #td_block_big_grid_fl_3,
  #td_block_big_grid_fl_4,
  #td_block_big_grid_fl_5,
  #td_block_big_grid_fl_6,
  #td_block_big_grid_fl_7,
  #td_block_big_grid_fl_8,
  #td_block_big_grid_fl_9,
  #td_block_big_grid_fl_10,
  #td_block_big_grid_slide,
  #td_block_trending_now,
  #td_block_homepage_full_1,
  #td_block_ad_box,
  #td_block_popular_categories,
  #td_block_authors,
  #td_block_author,
  #td_block_image_box,
  #td_block_text_with_title,
  #td_block_slide,
  #td_block_social_counter,
  #td_block_video_youtube,
  #td_block_video_vimeo,
  #td_block_text_with_title,
  #td_block_instagram,
  #td_block_pinterest,
  #td_block_exchange,
  #td_block_weather,
  #td_block_list_menu {
    padding-left: 75px;
  }
}

// for + add element icon
.icon-pagebuilder-td_block_1,
.icon-pagebuilder-td_block_2,
.icon-pagebuilder-td_block_3,
.icon-pagebuilder-td_block_4,
.icon-pagebuilder-td_block_5,
.icon-pagebuilder-td_block_6,
.icon-pagebuilder-td_block_7,
.icon-pagebuilder-td_block_8,
.icon-pagebuilder-td_block_9,
.icon-pagebuilder-td_block_10,
.icon-pagebuilder-td_block_11,
.icon-pagebuilder-td_block_12,
.icon-pagebuilder-td_block_13,
.icon-pagebuilder-td_block_14,
.icon-pagebuilder-td_block_15,
.icon-pagebuilder-td_block_16,
.icon-pagebuilder-td_block_17,
.icon-pagebuilder-td_block_18,
.icon-pagebuilder-td_block_19,
.icon-pagebuilder-td_block_20,
.icon-pagebuilder-td_block_21,
.icon-pagebuilder-td_block_22,
.icon-pagebuilder-td_block_23,
.icon-pagebuilder-td_block_24,
.icon-pagebuilder-td_block_25,
.icon-pagebuilder-slide,
.icon-pagebuilder-td_block_big_grid,
.icon-pagebuilder-td_block_big_grid_1,
.icon-pagebuilder-td_block_big_grid_2,
.icon-pagebuilder-td_block_big_grid_3,
.icon-pagebuilder-td_block_big_grid_4,
.icon-pagebuilder-td_block_big_grid_5,
.icon-pagebuilder-td_block_big_grid_6,
.icon-pagebuilder-td_block_big_grid_7,
.icon-pagebuilder-td_block_big_grid_8,
.icon-pagebuilder-td_block_big_grid_9,
.icon-pagebuilder-td_block_big_grid_10,
.icon-pagebuilder-td_block_big_grid_11,
.icon-pagebuilder-td_block_big_grid_12,
.icon-pagebuilder-td_block_big_grid_fl_1,
.icon-pagebuilder-td_block_big_grid_fl_2,
.icon-pagebuilder-td_block_big_grid_fl_3,
.icon-pagebuilder-td_block_big_grid_fl_4,
.icon-pagebuilder-td_block_big_grid_fl_5,
.icon-pagebuilder-td_block_big_grid_fl_6,
.icon-pagebuilder-td_block_big_grid_fl_7,
.icon-pagebuilder-td_block_big_grid_fl_8,
.icon-pagebuilder-td_block_big_grid_fl_9,
.icon-pagebuilder-td_block_big_grid_fl_10,
.icon-pagebuilder-td_block_big_grid_slide,
.icon-pagebuilder-td_block_trending_now,
.icon-pagebuilder-td_block_homepage_full_1,
.icon-pagebuilder-ads,
.icon-pagebuilder-social,
.icon-pagebuilder-popular_categories,
.icon-pagebuilder-td_social_counter,
.icon-pagebuilder-td_block_authors,
.icon-pagebuilder-td_block_author,
.icon-pagebuilder-td_block_image_box,
.icon-pagebuilder-td-youtube,
.icon-pagebuilder-td-vimeo,
.icon-pagebuilder-title,
.icon-pagebuilder-td-instagram,
.icon-pagebuilder-td-pinterest,
.icon-pagebuilder-td-exchange,
.icon-pagebuilder-td-weather,
.icon-pagebuilder-td_block_list_menu {
  position: relative;
  width:60px !important;
  height: 44px !important;
  margin-bottom: 0 !important;
  top: 12px !important;
}

// for page edit icon
.wpb_element_title {
  .icon-pagebuilder-td_block_1,
  .icon-pagebuilder-td_block_2,
  .icon-pagebuilder-td_block_3,
  .icon-pagebuilder-td_block_4,
  .icon-pagebuilder-td_block_5,
  .icon-pagebuilder-td_block_6,
  .icon-pagebuilder-td_block_7,
  .icon-pagebuilder-td_block_8,
  .icon-pagebuilder-td_block_9,
  .icon-pagebuilder-td_block_10,
  .icon-pagebuilder-td_block_11,
  .icon-pagebuilder-td_block_12,
  .icon-pagebuilder-td_block_13,
  .icon-pagebuilder-td_block_14,
  .icon-pagebuilder-td_block_15,
  .icon-pagebuilder-td_block_16,
  .icon-pagebuilder-td_block_17,
  .icon-pagebuilder-td_block_18,
  .icon-pagebuilder-td_block_19,
  .icon-pagebuilder-td_block_20,
  .icon-pagebuilder-td_block_21,
  .icon-pagebuilder-td_block_22,
  .icon-pagebuilder-td_block_23,
  .icon-pagebuilder-td_block_24,
  .icon-pagebuilder-td_block_25,
  .icon-pagebuilder-slide,
  .icon-pagebuilder-td_block_big_grid,
  .icon-pagebuilder-td_block_big_grid_1,
  .icon-pagebuilder-td_block_big_grid_2,
  .icon-pagebuilder-td_block_big_grid_3,
  .icon-pagebuilder-td_block_big_grid_4,
  .icon-pagebuilder-td_block_big_grid_5,
  .icon-pagebuilder-td_block_big_grid_6,
  .icon-pagebuilder-td_block_big_grid_7,
  .icon-pagebuilder-td_block_big_grid_8,
  .icon-pagebuilder-td_block_big_grid_9,
  .icon-pagebuilder-td_block_big_grid_10,
  .icon-pagebuilder-td_block_big_grid_11,
  .icon-pagebuilder-td_block_big_grid_12,
  .icon-pagebuilder-td_block_big_grid_fl_1,
  .icon-pagebuilder-td_block_big_grid_fl_2,
  .icon-pagebuilder-td_block_big_grid_fl_3,
  .icon-pagebuilder-td_block_big_grid_fl_4,
  .icon-pagebuilder-td_block_big_grid_fl_5,
  .icon-pagebuilder-td_block_big_grid_fl_6,
  .icon-pagebuilder-td_block_big_grid_fl_7,
  .icon-pagebuilder-td_block_big_grid_fl_8,
  .icon-pagebuilder-td_block_big_grid_fl_9,
  .icon-pagebuilder-td_block_big_grid_fl_10,
  .icon-pagebuilder-td_block_big_grid_slide,
  .icon-pagebuilder-td_block_trending_now,
  .icon-pagebuilder-td_block_homepage_full_1,
  .icon-pagebuilder-ads,
  .icon-pagebuilder-social,
  .icon-pagebuilder-popular_categories,
  .icon-pagebuilder-td_social_counter,
  .icon-pagebuilder-td_block_authors,
  .icon-pagebuilder-td_block_author,
  .icon-pagebuilder-td_block_image_box,
  .icon-pagebuilder-td-youtube,
  .icon-pagebuilder-td-vimeo,
  .icon-pagebuilder-title,
  .icon-pagebuilder-td-instagram,
  .icon-pagebuilder-td-pinterest,
  .icon-pagebuilder-td-exchange,
  .icon-pagebuilder-td-weather,
  .icon-pagebuilder-td_block_list_menu {
    top: -5px !important;
  }
}

.td_block_1,
.td_block_2,
.td_block_3,
.td_block_4,
.td_block_5,
.td_block_6,
.td_block_7,
.td_block_8,
.td_block_9,
.td_block_10,
.td_block_11,
.td_block_12,
.td_block_13,
.td_block_14,
.td_block_15,
.td_block_16,
.td_block_17,
.td_block_18,
.td_block_19,
.td_block_20,
.td_block_21,
.td_block_22,
.td_block_23,
.td_block_24,
.td_block_25,
.td_block_big_grid,
.td_block_big_grid_1,
.td_block_big_grid_2,
.td_block_big_grid_3,
.td_block_big_grid_4,
.td_block_big_grid_5,
.td_block_big_grid_6,
.td_block_big_grid_7,
.td_block_big_grid_8,
.td_block_big_grid_9,
.td_block_big_grid_10,
.td_block_big_grid_11,
.td_block_big_grid_12,
.td_block_big_grid_fl_1,
.td_block_big_grid_fl_2,
.td_block_big_grid_fl_3,
.td_block_big_grid_fl_4,
.td_block_big_grid_fl_5,
.td_block_big_grid_fl_6,
.td_block_big_grid_fl_7,
.td_block_big_grid_fl_8,
.td_block_big_grid_fl_9,
.td_block_big_grid_fl_10,
.td_block_big_grid_slide,
.td_block_trending_now,
.td_block_homepage_full_1,
.td_block_ad_box,
.td_block_popular_categories,
.wpb_td_block_authors,
.wpb_td_block_author,
.wpb_td_block_image_box,
.td_block_text_with_title,
.td_block_slide,
.wpb_td_block_text_with_title,
.wpb_td_block_social_counter,
.td_block_video_playlist_youtube,
.td_block_video_playlist_vimeo,
.icon-pagebuilder-title,
.wpb_td_block_weather,
.wpb_td_block_instagram,
.wpb_td_block_pinterest,
.wpb_td_block_exchange,
.wpb_td_block_ad_box,
.wpb_td_block_list_menu {
  .wpb_element_wrapper  div {
    display: none;
    font-size: 11px;
    margin-right: 12px;
  }

  .wpb_element_wrapper  div[name="custom_title"] {
    display: inline-block;
  }
}

/* display some extra information on some widgets - above will hide all info - show only widget title */
// weather
.wpb_td_block_weather .wpb_element_wrapper .w_location {
  display: inline-block;
}
// ad box
.wpb_td_block_ad_box .wpb_element_wrapper .spot_id,
.wpb_td_block_ad_box .wpb_element_wrapper .spot_title {
  display: inline-block;
}
// instagram
.wpb_td_block_instagram .wpb_element_wrapper .instagram_id {
  display: inline-block;
}
.wpb_td_block_instagram .wpb_element_wrapper div[name="custom_title"] {
  display: none;
}


/* some of the icons are not used on all the themes ? */
.icon-pagebuilder-td_block_1
{
  background-image: url('../../../../images/pagebuilder/block1.png') !important;
}

.icon-pagebuilder-td_block_2
{
  background-image: url('../../../../images/pagebuilder/block2.png') !important;
}

.icon-pagebuilder-td_block_3
{
  background-image: url('../../../../images/pagebuilder/block3.png') !important;
}

.icon-pagebuilder-td_block_4
{
  background-image: url('../../../../images/pagebuilder/block4.png') !important;
}

.icon-pagebuilder-td_block_5
{
  background-image: url('../../../../images/pagebuilder/block5.png') !important;
}

.icon-pagebuilder-td_block_6
{
  background-image: url('../../../../images/pagebuilder/block6.png') !important;
}

.icon-pagebuilder-td_block_7
{
  background-image: url('../../../../images/pagebuilder/block7.png') !important;
}

.icon-pagebuilder-td_block_8
{
  background-image: url('../../../../images/pagebuilder/block8.png') !important;
}

.icon-pagebuilder-td_block_9
{
  background-image: url('../../../../images/pagebuilder/block9.png') !important;
}

.icon-pagebuilder-td_block_10
{
  background-image: url('../../../../images/pagebuilder/block10.png') !important;
}

.icon-pagebuilder-td_block_11
{
  background-image: url('../../../../images/pagebuilder/block11.png') !important;
}

.icon-pagebuilder-td_block_12
{
  background-image: url('../../../../images/pagebuilder/block12.png') !important;
}

.icon-pagebuilder-td_block_13
{
  background-image: url('../../../../images/pagebuilder/block13.png') !important;
}

.icon-pagebuilder-td_block_14
{
  background-image: url('../../../../images/pagebuilder/block14.png') !important;
}

.icon-pagebuilder-td_block_15
{
  background-image: url('../../../../images/pagebuilder/block15.png') !important;
}

.icon-pagebuilder-td_block_16
{
  background-image: url('../../../../images/pagebuilder/block16.png') !important;
}

.icon-pagebuilder-td_block_17
{
  background-image: url('../../../../images/pagebuilder/block17.png') !important;
}

.icon-pagebuilder-td_block_18
{
  background-image: url('../../../../images/pagebuilder/block18.png') !important;
}

.icon-pagebuilder-td_block_19
{
  background-image: url('../../../../images/pagebuilder/block19.png') !important;
}

.icon-pagebuilder-td_block_20
{
  background-image: url('../../../../images/pagebuilder/block20.png') !important;
}

.icon-pagebuilder-td_block_21
{
  background-image: url('../../../../images/pagebuilder/block21.png') !important;
}

.icon-pagebuilder-td_block_22
{
  background-image: url('../../../../images/pagebuilder/block22.png') !important;
}

.icon-pagebuilder-td_block_23
{
  background-image: url('../../../../images/pagebuilder/block23.png') !important;
}

.icon-pagebuilder-td_block_24
{
  background-image: url('../../../../images/pagebuilder/block24.png') !important;
}

.icon-pagebuilder-td_block_25
{
  background-image: url('../../../../images/pagebuilder/block25.png') !important;
}

.icon-pagebuilder-td_block_trending_now
{
  background-image: url('../../../../images/pagebuilder/news-ticker.png') !important;
}

.icon-pagebuilder-td_block_homepage_full_1
{
  background-image: url('../../../../images/pagebuilder/homepage-post.png') !important;
}

.icon-pagebuilder-slide
{
  background-image: url('../../../../images/pagebuilder/slider.png') !important;
}

.icon-pagebuilder-ads
{
  background-image: url('../../../../images/pagebuilder/aaa.png') !important;
  background-position: 0 0 !important;
}

.icon-pagebuilder-social
{
  background-image: url('../../../../images/pagebuilder/social.png') !important;
}

.icon-pagebuilder-title
{
  background-image: url('../../../../images/pagebuilder/title.png') !important;
}

.icon-pagebuilder-td_block_big_grid
{
  background-image: url('../../../../images/pagebuilder/big-grid.png') !important;
}

.icon-pagebuilder-td_block_big_grid_1
{
  background-image: url('../../../../images/pagebuilder/big-grid-1.png') !important;
}

.icon-pagebuilder-td_block_big_grid_2
{
  background-image: url('../../../../images/pagebuilder/big-grid-2.png') !important;
}


.icon-pagebuilder-td_block_big_grid_3
{
  background-image: url('../../../../images/pagebuilder/big-grid-3.png') !important;
}


.icon-pagebuilder-td_block_big_grid_4
{
  background-image: url('../../../../images/pagebuilder/big-grid-4.png') !important;
}


.icon-pagebuilder-td_block_big_grid_5
{
  background-image: url('../../../../images/pagebuilder/big-grid-5.png') !important;
}


.icon-pagebuilder-td_block_big_grid_6
{
  background-image: url('../../../../images/pagebuilder/big-grid-6.png') !important;
}


.icon-pagebuilder-td_block_big_grid_7
{
  background-image: url('../../../../images/pagebuilder/big-grid-7.png') !important;
}


.icon-pagebuilder-td_block_big_grid_8
{
  background-image: url('../../../../images/pagebuilder/big-grid-8.png') !important;
}

.icon-pagebuilder-td_block_big_grid_9
{
  background-image: url('../../../../images/pagebuilder/big-grid-9.png') !important;
}

.icon-pagebuilder-td_block_big_grid_10
{
  background-image: url('../../../../images/pagebuilder/big-grid-10.png') !important;
}

.icon-pagebuilder-td_block_big_grid_11
{
  background-image: url('../../../../images/pagebuilder/big-grid-11.png') !important;
}

.icon-pagebuilder-td_block_big_grid_12
{
  background-image: url('../../../../images/pagebuilder/big-grid-12.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_1
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-1.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_2
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-2.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_3
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-3.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_4
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-4.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_5
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-5.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_6
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-6.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_7
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-7.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_8
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-8.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_9
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-9.png') !important;
}

.icon-pagebuilder-td_block_big_grid_fl_10
{
  background-image: url('../../../../images/pagebuilder/big-grid-fl-10.png') !important;
}

.icon-pagebuilder-td_block_big_grid_slide
{
  background-image: url('../../../../images/pagebuilder/grid-slide.png') !important;
}


.icon-pagebuilder-popular_categories
{
  background-image: url('../../../../images/pagebuilder/categ.png') !important;
}

.icon-pagebuilder-td_block_authors
{
  background-image: url('../../../../images/pagebuilder/authors-box.png') !important;
}

.icon-pagebuilder-td_block_author
{
  background-image: url('../../../../images/pagebuilder/author-box.png') !important;
}

.icon-pagebuilder-td_block_image_box
{
  background-image: url('../../../../images/pagebuilder/custom-box.png') !important;
}

.icon-pagebuilder-td_social_counter
{
  background-image: url('../../../../images/pagebuilder/social-counter.png') !important;
}

.icon-pagebuilder-td-youtube {
  background-image: url('../../../../images/pagebuilder/youtube.png') !important;
}

.icon-pagebuilder-td-vimeo {
  background-image: url('../../../../images/pagebuilder/vimeo.png') !important;
}

.icon-pagebuilder-td-weather {
  background-image: url('../../../../images/pagebuilder/weather.png') !important;
}

.icon-pagebuilder-td-exchange {
  background-image: url('../../../../images/pagebuilder/exchange.png') !important;
}

.icon-pagebuilder-td-instagram {
  background-image: url('../../../../images/pagebuilder/instagram.png') !important;
}

.icon-pagebuilder-td-pinterest {
  background-image: url('../../../../images/pagebuilder/pinterest.png') !important;
}

.icon-pagebuilder-td_block_list_menu
{
  background-image: url('../../../../images/pagebuilder/list-menu.png') !important;
}


.wpb-content-layouts .td_popular_categories_nav {
  padding: 0;
}



// main controls on the parent row
#visual_composer_content {
  > .wpb_vc_row  {
    > .vc_controls {

      // fix for VC 5
      .vc-c-icon-1-1,
      .vc-c-icon-2-3_1-3,
      .vc-c-icon-1-3_1-3_1-3 {
        color: #80b5d3;
      }


      .set_columns.l_11 {
        background-image: url('../images/vc/1_high.gif') !important;
      }

      .set_columns.l_23_13 {
        background-image: url('../images/vc/23_13_high.gif') !important;
      }

      .set_columns.l_13_13_13 {
        background-image: url('../images/vc/13_13_13_high.gif') !important;
      }
    }
  }
}

//controls on the child row


.vc_col-sm-12 {
  // fix for VC 5
  .vc-c-icon-1-1,
  .vc-c-icon-2-3_1-3,
  .vc-c-icon-1-3_1-3_1-3 {
    color: #80b5d3;
  }

  .wpb_element_wrapper .l_11 {
    background-image: url('../images/vc/1_high.gif') !important;
  }

  .wpb_element_wrapper .l_23_13 {
    background-image: url('../images/vc/23_13_high.gif') !important;
  }

  .wpb_element_wrapper .l_13_13_13 {
    background-image: url('../images/vc/13_13_13_high.gif') !important;
  }
}


.vc_col-sm-8 {
  // fix for VC 5
  .vc-c-icon-1-1,
  .vc-c-icon-1-2_1-2 {
    color: #80b5d3;
  }

  .wpb_element_wrapper .l_11 {
    background-image: url('../images/vc/1_high.gif') !important;
  }

  .wpb_element_wrapper .l_12_12 {
    background-image: url('../images/vc/12_12_high.gif') !important;
  }
}

.vc_col-sm-4 {
  // fix for VC 5
  .vc-c-icon-1-1 {
    color: #80b5d3;
  }

  .wpb_element_wrapper .l_11 {
    background-image: url('../images/vc/1_high.gif') !important;
  }
}

// fix for VC 5
.vc_edit_form_elements .vc_layout-panel-switcher {
  .vc-c-icon-1-1,
  .vc-c-icon-1-2_1-2,
  .vc-c-icon-2-3_1-3,
  .vc-c-icon-1-3_1-3_1-3 {
    color: #A0A0A0;
  }

  .vc_layout-btn:hover {
    .vc-c-icon-1-1,
    .vc-c-icon-1-2_1-2,
    .vc-c-icon-2-3_1-3,
    .vc-c-icon-1-3_1-3_1-3 {
      color: #fff;
    }
  }
}







/* Flags */
.td-flags {
  background-image: url('../../../../images/flags/flags.png');
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 7px;
  left: 0;
  margin-right: 6px;
}

.td-clearfix {
  clear: both;
}

.td-exchange-table {
  padding-left: 0 !important;
  list-style: none !important;

  li {
    position: relative;
    width: 85px;
    float: left;
  }
  .stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
  }

  .td-flag-aud {
    .stitches-sprite(0, 0, 24px, 24px);
  }

  .td-flag-bgn {
    .stitches-sprite(-24px, 0, 24px, 24px);
  }

  .td-flag-brl {
    .stitches-sprite(-48px, 0, 24px, 24px);
  }

  .td-flag-cad {
    .stitches-sprite(-72px, 0, 24px, 24px);
  }

  .td-flag-chf {
    .stitches-sprite(-96px, 0, 24px, 24px);
  }

  .td-flag-cny {
    .stitches-sprite(0, -24px, 24px, 24px);
  }

  .td-flag-czk {
    .stitches-sprite(-24px, -24px, 24px, 24px);
  }

  .td-flag-dkk {
    .stitches-sprite(-48px, -24px, 24px, 24px);
  }

  .td-flag-eur {
    .stitches-sprite(-72px, -24px, 24px, 24px);
  }

  .td-flag-gbp {
    .stitches-sprite(-96px, -24px, 24px, 24px);
  }

  .td-flag-hkd {
    .stitches-sprite(0, -48px, 24px, 24px);
  }

  .td-flag-hrk {
    .stitches-sprite(-24px, -48px, 24px, 24px);
  }

  .td-flag-huf {
    .stitches-sprite(-48px, -48px, 24px, 24px);
  }

  .td-flag-idr {
    .stitches-sprite(-72px, -48px, 24px, 24px);
  }

  .td-flag-ils {
    .stitches-sprite(-96px, -48px, 24px, 24px);
  }

  .td-flag-inr {
    .stitches-sprite(0, -72px, 24px, 24px);
  }

  .td-flag-jpy {
    .stitches-sprite(-24px, -72px, 24px, 24px);
  }

  .td-flag-krw {
    .stitches-sprite(-48px, -72px, 24px, 24px);
  }

  .td-flag-mxn {
    .stitches-sprite(-72px, -72px, 24px, 24px);
  }

  .td-flag-myr {
    .stitches-sprite(-96px, -72px, 24px, 24px);
  }

  .td-flag-nok {
    .stitches-sprite(0, -96px, 24px, 24px);
  }

  .td-flag-nzd {
    .stitches-sprite(-24px, -96px, 24px, 24px);
  }

  .td-flag-php {
    .stitches-sprite(-48px, -96px, 24px, 24px);
  }

  .td-flag-pln {
    .stitches-sprite(-72px, -96px, 24px, 24px);
  }

  .td-flag-ron {
    .stitches-sprite(-96px, -96px, 24px, 24px);
  }

  .td-flag-rub {
    .stitches-sprite(-120px, 0, 24px, 24px);
  }

  .td-flag-sek {
    .stitches-sprite(-120px, -24px, 24px, 24px);
  }

  .td-flag-sgd {
    .stitches-sprite(-120px, -48px, 24px, 24px);
  }

  .td-flag-thb {
    .stitches-sprite(-120px, -72px, 24px, 24px);
  }

  .td-flag-try {
    .stitches-sprite(-120px, -96px, 24px, 24px);
  }

  .td-flag-usd {
    .stitches-sprite(0, -120px, 24px, 24px);
  }

  .td-flag-zar {
    .stitches-sprite(-24px, -120px, 24px, 24px);
  }
}