@import "../../less_files/variables.less";

/* Animals demo */
.td-animals {

  &.td-boxed-layout #td-outer-wrap {
    /* responsive on desktop */
    @media (min-width: 1180px) {
      width: 1164px;
      margin: 0 auto;
      -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.12);
      -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.12);
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.12);
    }
  }

  .td-header-style-3 {
    .td-header-sp-logo {
      margin-left: 0;
      margin-right: 56px;

      /* responsive landscape tablet */
      @media (min-width: @responsive_l_tablet_min) and (max-width: @responsive_l_tablet_max) {
        margin-right: 28px;
      }
    }

    .sf-menu > li > a {
      padding-left: 10px;
    }
  }

  .td-icons-animals {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    bottom: 1px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-right: 6px;
    }
  }

  .td-icons-circus {
    font-size: 28px;
  }

  .td-main-page-wrap > .td-container > .td-pb-row:first-child > .wpb_column > .wpb_wrapper .td_block_trending_now {
    margin-top: -32px;
    padding: 0 0 16px 0;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-top: -22px;
    }
  }

  .td-news-ticker {
    .td-trending-now-wrapper {
      padding: 0 15px;

      .td-trending-now-title {
        background-color: transparent;
        color: #111;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        line-height: 22px;
      }
    }

    .td-trending-now-display-area .entry-title {
      font-size: 13px;
    }

    .td-next-prev-wrap {
      right: 24px;
    }
  }

  .td-your-pet {
    padding-top: 48px;
    margin-bottom: 48px;
    background-color: #151515;
  }

  .td-homepage-ad {
    margin-bottom: 20px;
  }

  // tablet portrait
  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {

    // module 7
    .td_module_7 {
      .td-module-thumb {
        width: 75px;
      }
      .item-details {
        margin-right: 85px;
      }
      .entry-title {
        font-size: 13px;
        line-height: 16px;
      }
    }

    // module 6
    .td_module_6 {
      .td-module-thumb {
        width: 75px;
      }
      .item-details {
        margin-left: 85px;
      }
      .entry-title {
        font-size: 13px;
        line-height: 16px;
      }
    }

    // module 8
    .td_module_8 {
      .entry-title {
        font-size: 14px;
        line-height: 17px;
      }
    }

    // module 2
    .td_module_2 {
      .td-module-title {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }

  // demos button
  #td-theme-settings .td-skin-buy a {
    background-color: #68c62d;
  }
}